@import "tailwindcss";
@plugin "daisyui";

.bg-brand-gradient {
    background: linear-gradient(to right, #f97316, #ec4899, #8b5cf6);
}

.text-brand-gradient {
    background: linear-gradient(to right, #f97316, #ec4899, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hover-text-brand-gradient:hover {
    background: linear-gradient(to right, #f97316, #ec4899, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}